.desk {
  min-height: calc(100vh - 140px);
}

.drop {
  box-shadow: inset 0 -4px 0 gray;
}

.draggable:active {
  animation: drag_style .1s;
}

@keyframes drag_style {
  0% {background-color: #3b82f6;}
  99% {background-color: #3b82f6;}
  100% {background-color: #ccc;}
}
